In [1]:
!java -version

java version "1.8.0_333"
Java(TM) SE Runtime Environment (build 1.8.0_333-b02)
Java HotSpot(TM) 64-Bit Server VM (build 25.333-b02, mixed mode)

In [7]:
import sys
!{sys.executable} -m pip install tabula-py

Collecting tabula-py
  Using cached tabula_py-2.3.0-py3-none-any.whl (12.0 MB)
Collecting numpy
  Using cached numpy-1.22.4-cp39-cp39-macosx_11_0_arm64.whl (12.8 MB)
Collecting pandas>=0.25.3
  Using cached pandas-1.4.2-cp39-cp39-macosx_11_0_arm64.whl (10.1 MB)
Collecting distro
  Using cached distro-1.7.0-py3-none-any.whl (20 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/homebrew/Cellar/jupyterlab/3.3.2/libexec/lib/python3.9/site-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Cellar/jupyterlab/3.3.2/libexec/lib/python3.9/site-packages (from pandas>=0.25.3->tabula-py) (2022.1)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/six/1.16.0_2/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->tabula-py) (1.16.0)
Installing collected packages: numpy, pandas, distro, tabula-py
Successfully installed distro-1.7.0 numpy-1.22.4 pandas-1.4.2 tabula-py-2.3.0
WARNING: You are using pip version 21.3.1; however, version 22.1.1 is available.
You should consider upgrading via the '/opt/homebrew/Cellar/jupyterlab/3.3.2/libexec/bin/python3.9 -m pip install --upgrade pip' command.

In [8]:
import tabula

tabula.environment_info()

Python version:
    3.9.13 (main, May 19 2022, 13:48:47)
[Clang 13.1.6 (clang-1316.0.21.2)]
Java version:
    java version "1.8.0_333"
Java(TM) SE Runtime Environment (build 1.8.0_333-b02)
Java HotSpot(TM) 64-Bit Server VM (build 25.333-b02, mixed mode)
tabula-py version: 2.3.0
platform: macOS-12.3.1-arm64-arm-64bit
uname:
    uname_result(system='Darwin', node='MacBook-Air.homenet.telecomitalia.it', release='21.4.0', version='Darwin Kernel Version 21.4.0: Fri Mar 18 00:47:26 PDT 2022; root:xnu-8020.101.4~15/RELEASE_ARM64_T8101', machine='arm64')
linux_distribution: ('Darwin', '21.4.0', '')
mac_ver: ('12.3.1', ('', '', ''), 'arm64')

In [15]:
from tabula import read_pdf

In [23]:
# pdf_path = 'Estonian Startup Database May 24 2022.pdf'
# dfs = read_pdf(pdf_path, pages="all",output_format = 'Dataframe', stream=True)
# dfs = dfs[0]
# dfs

,Name,Sector,Business,Employee,Employment,Turnover,Year,Webpage
0,NaN,NaN,model,count 1Q,taxes 1Q,1Q,founded,NaN
1,Bolt,Transportation,B2B2C,1144,€ 6.4M,€ 178.4M,2013,http://bolt.eu
2,NaN,& Logistics,NaN,NaN,NaN,NaN,NaN,NaN
3,Wise,FinTech,"B2B, C2C,",1338,€ 5.2M,€ 40.1K,2013,https://wise.com/
4,NaN,NaN,B2C,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2823,Pocket IP,Business,"B2B,",-,-,-,2022,https://pocketip.com/
2824,NaN,software & HR,B2B2C,NaN,NaN,NaN,NaN,NaN
2825,Weld Money,FinTech,"B2B, B2C",-,-,-,2021,https://weld.money/
2826,Freerange Lamas,FinTech,B2C,-,-,-,2022,www.letslama.com
2827,Digiciti,AdTech &,"B2B, B2G,",-,-,-,2020,www.digiciti.com

In [24]:
# csv = dfs.to_csv('Estonian Startup Database.csv')

In [29]:
pdf_paths = ['Estonian Startup Database 2019 3Q.pdf','Estonian Startup Database 2019 4Q.pdf','Estonian Startup Database 2020 1Q.pdf','Estonian Startup Database 2020 2Q.pdf','Estonian Startup Database 2020 3Q.pdf','Estonian Startup Database 2020 4Q.pdf','Estonian Startup Database 2021 1Q.pdf','Estonian Startup Database 2021 2Q.pdf','Estonian Startup Database 2021 3Q.pdf','Estonian Startup Database 2021 4Q.pdf']


for path in pdf_paths:
    df = read_pdf(path, pages="all",output_format = 'Dataframe', stream=True)
    df = df[0]
    csv = df.to_csv(f'{path}.csv')